.addstocktowatchlist-container{
  padding: 24px;
  margin: 10px;
  display: flex;
  width: 320px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap:10px;
  border-radius: 5px;
  background-color: var(--light-grey-color);
}

.addstocktowatchlist-header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  align-items: center;
}

.addstocktowatchlist-header>h1 {
  font-size: 20px;
  padding: 5px;
}

.addstocktowatchlist-list {
 width: 100%;
}

.addstocktowatchlist-list>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  align-items: flex-start;
}

.addstocktowatchlist-btn {
    background-color: var(--blue-color);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--blue-color);
    margin-top: 15px;
}

.addstocktowatchlist-btn:hover {
    cursor: pointer;
}

.checkbox-container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 7px;
}

.checkbox-container input {
    background-color: var(--light-grey-color);
    color: blue;
    height: 13px;
    width: 13px;
}





.bulb-icon-container {
    width: 40px;
    height: 40px;
    /* background-color: var(--grey-border); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
