.create-watchlist-container {
  padding: 24px;
  margin: 10px;
  display: flex;
  width: 420px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap:10px;
  border-radius: 5px;
  background-color: var(--light-grey-color);
}

.create-watchlist-header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  align-items: center;
}

.create-watchlist-container>form{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-watchlist-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}

.create-watchlist-label div {
    width: 40px;
    height: 40px;
    border: 1px solid var(--grey-border);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.create-watchlist-label input {
  width: 310px;
  background-color: rgb(61, 61, 61);
  border: 1px solid var(--grey-border);
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  padding-left: 15px;
  color: white;
}

.create-watchlist-label input:hover {
  background-color: var(--light-grey-color);
}

.create-watchlist-label input:focus {
  /* border: 1px solid var(--green-color); */
  outline: 1px solid var(--blue-color);
}

.create-watchlist-header>h1 {
  font-size: 20px;
  padding: 5px;
}

.create-watchlist-btn-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.close-btn {
  background-color: var(--light-grey-color);
  border: none;
  color: grey;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.close-btn:hover{
  cursor: pointer;
  background-color: rgb(61, 61, 61);
}

.create-watchlist-btn {
  height: 35px;
  font-weight: 550;
  border-radius: 17px;
  border: 1px solid var(--blue-color);

}

.cancel-button {
  width: 80px;
  color: var(--blue-color);
  ;
  background-color: var(--light-grey-color);
}

.cancel-button:hover {
  cursor: pointer;
  background-color: rgba(10, 186, 180, 0.466);
}

.create-button {
  width: 120px;
  color: var(--light-grey-color);
  background-color: var(--blue-color);
}

.create-button:hover {
  cursor: pointer;
  background-color: rgba(6, 207, 201, 0.466);;
}
