.loading-figure {
  object-fit: cover;
  width: 100vw;
}

.homepage-left-col {
  padding: 20px;
}

.homepage-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.homepage-right-col {
  display: flex;
  flex-direction: column;
  border:1px solid white;
  padding: 10px;
  color: white;
}

.positive-num {
  color: var(--blue-color);
}

.negative-num {
  color: red;
}

.lists-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 200px;
  border: 1px solid var(--grey-border);
  height: 500px;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--light-grey-color);
}
