.loading-figure-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-figure {
  object-fit: cover;
  width: 100vw;
  height: calc(100vh - 75px);
}

.homepage-left-col {
  padding: 20px;
  padding-top: 0;
}

.homepage-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  max-width: 1420px;
  margin: auto;
  margin-top: 25px;
}

.homepage-right-col {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  padding: 10px;
  color: white;
  max-width: 420px;
}

.positive-num {
  color: var(--blue-color);
}

.negative-num {
  color: rgb(255, 80, 0);
}

.lists-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 250px;
  border: 1px solid var(--grey-border);
  height: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: black;
}

.chart-test {
  width: 100%;
  height: 350px;
}

.portfolio-info-container {
    margin-bottom: 25px;
}

.portfolio-chart-container{
  width: 70vw;
  max-width: 1050px;
  min-width: 400px;
}

.watchlist-header button {
  background-color: black;
  border: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.watchlist-header button:hover {
  cursor: pointer;
  background-color: var(--light-grey-color);
}

.time-scale-container {
   display: grid;
   grid-template-columns: 25px 25px 25px 25px 25px;
   column-gap: 3px;
   /* justify-content: start; */
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 13px;
}
.time-scale-container>span:hover {
    cursor: pointer;
    color: var(--blue-color);
}

.week-scale {
    color: var(--blue-color);
}

.cash-container{
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--grey-border);
    border-bottom: 1px solid var(--grey-border);
}

.loading-figure-container {
    display: flex;
    flex-direction: column;
}
.loading-figure-container>h2{
  background-color: transparent;
  width: auto;
  margin: auto;
}

.index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.index-header{
    align-self: flex-start;
    margin-bottom: 15px;
}

.index-info-container{
    width: 100%;
    /* padding: 20px 0; */
    border-top: 1px solid var(--grey-border);
    border-bottom: 1px solid var(--grey-border);
}

.index-info{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--light-grey-color);
    /* width: 100%; */
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 5px;
    /* padding: 40 0px; */
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.single-index {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    justify-content: center;
    width: 100%
}

.single-index > span{
    font-size: 15px;
}

.single-index.middle {
    border-left: 1px solid var(--grey-border);
    border-right: 1px solid var(--grey-border);
}

.recommand-stocks-container{
    margin-top: 35px;;
}

.recommand-stocks-header {
    display: flex;
    flex-direction: column;
   margin-bottom: 15px;
}



.recommand-stocks-title{
    align-self: flex-start;
    color: white;
}

.stocks-daily{
    /* align-self: stretch; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stocks-daily-intro{
    font-size: 13px;
    font-weight: 500;
}

.showmore-btn{
    color: var(--blue-color);
    font-size: 13px;
    font-weight: 500;
}

.showmore-btn:hover{
    cursor: pointer;
}

.recommand-stock-list {
    display: grid;
    grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
    column-gap: 8px;
}
