.watchlist-header,
.watchlist-name {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
  align-items: center;
}

.watchlist-header {
  border-bottom: 1px solid var(--grey-border);
}

.watchlist-name-left,
.watchlist-name-right {
  display: flex;
  column-gap: 15px;
}

.watchlist-name-left {
  padding: 5px;
}

.watchlist-name-right {
  column-gap: 25px;
}

.watchlist-name:hover>.watchlist-name-left {
  cursor: pointer;
  background-color: var(--light-grey-color);
  border-radius: 3px;
}

.watchlist-name:hover>.watchlist-name-right>svg:first-child {
  cursor: pointer;
  color: var(--blue-color);
}
