.watchlist-header,
.watchlist-name {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
  align-items: center;
}

.watchlist-header {
  border-bottom: 1px solid var(--grey-border);
}

.watchlist-name-left,
.watchlist-name-right {
  display: flex;
  column-gap: 15px;
}

.watchlist-name-right {
  column-gap: 25px;
}
