.transfer-page-container {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 25px;
}

.transfer-page-container select {
    width: 100%;
}

.transfer-page-container input {
    width: calc(100% - 3.2px);
    margin-top: 8px;
}

.transfer-btn {
    width: 130px;
    align-self: center;
    margin-top: 8px;
    border-radius: 17px;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    height: 35px;
}

.transfer-btn:hover {
    cursor: pointer;
}
