.errors {
  color: var(--light-red-color)
}


.buy-sell-info{
    align-self: center;
}

.portfolio-select-item{
    height: 35px;
    /* align-self: center; */
    text-align:center;
    color:white;
    background-color: var(--light-grey-color);
}

.portfolio-select-item:hover {
    cursor: pointer;
    color: var(--blue-color);
}
.portfolio-select-item:focus{
    outline: 1px solid var(--blue-color);
}

.select-box:focus{
    outline: 1px solid var(--blue-color);
}

.share-input:focus{
    outline: 1px solid var(--blue-color);
}
