.stockinfopage-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    max-width: 1420px;
    margin: auto;
    margin-top: 25px;
}

.stockinfopage-info-container {
    margin-bottom: 25px;
}

.stockinfopage-info-container>h1 {
    font-size: 25px;
}

.order-form {
    border: 1px solid var(--grey-border);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--light-grey-color);
}

.order-header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    column-gap: 10px;
    border-bottom: 1px solid var(--grey-border)
}

.order-header>div:hover {
    cursor: pointer;
    color: var(--blue-color);
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.form-box label {
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-between;
    align-items: center;
}

.select-box {
    background-color: var(--light-grey-color);
    border-radius: 3px;
    padding-left: 10px;
    color: white;
    height: 35px;
    border: 1px solid var(--grey-border);
    /* width: 155px; */
}

span.share-box {
    border-radius: 3px;
    border: 1px solid var(--grey-border);
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    /* width: 155px; */

}

.share-input {
    padding: 10px 10px 10px 0px;
    border-radius: 3px;
    color: white;
    background-color: var(--light-grey-color);
    border: 1px solid var(--grey-border);
    text-align: right;
    width: 94%;
    /* width: 155px; */
}


.market-price {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-border);
}

.market-price-item {
    text-align: right;
}

.estimate-total-price {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.order-submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    ;
    width: calc(100% - 40px);
    justify-self: center;
    align-self: center;
    height: 40px;
    border-radius: 20px;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.order-submit-btn:hover {
    cursor: pointer;
}

.stock-option-addtolist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
}

.stock-option-addtolist-container button {
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid var(--blue-color);
    color: var(--blue-color)
}

.stock-option-addtolist-container button:hover {
    cursor: pointer;
}

.about-container {
    margin-top: 25px;
    border-top: 1px solid var(--grey-border);
    color: white;
}

.about-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--grey-border);
    font-size: 22px;
}

.about-description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;;
}

.about-company-info {
    display: grid;
    grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-company-info-item-title {
    font-weight: 600;
}

.about-company-info-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 4px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.stockinfopage-left-col {
    padding: 20px;
    padding-top: 0;
}

.stockinfopage-right-col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    max-width: 420px;
  }
