
.logo {
    width: 25px;
    height: 25px
}

a.homepage-logo-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 13px;
    justify-content: flex-start;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    width: 100px;
}



.logo {
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

span.logo-title {
    width: 200px;
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a.homepage-logo-sec:hover .logo-title{
    color: var(--blue-color);
}






.nav-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

}

.nav-container a {
    text-decoration: none;
    height: 64px;
}

.navlinks-container {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.login-btn,
.signup-btn {
    width: 110px;
    height: 44px;
    border: 1px solid white;
    border-radius: 22px;
    font-weight: 550;
    font-size: 14px;
}

.login-btn {
    background-color: black;
    color: white;
}

.login-btn:hover {
    cursor: pointer;
    color: var(--bg-grey-color);
    border-color: var(--bg-grey-color);
}

.signup-btn:hover {
    cursor: pointer;
    background-color: var(--bg-grey-color);
    border-color: var(--bg-grey-color);
}

.nav-links {
    background-color: black;
    color: white;
    width: auto;
    height: 44px;
    border: none;
    font-weight: 550;
}

.nav-links:hover {
    cursor: pointer;
    color: var(--blue-color);
}
